<section id="banner">
  <div class="wrapper">
    <h1 class="title"> Mike Laney </h1>
    <h2 class="sub_title"> Places to find me</h2>
    <div class="button wrapper">
      <a href="www.linkedin.com" class="button_linkedin">Linkedin</a>
      <a href="www.linkedin.com" class="button_linkedin">Github</a>
      <a href="www.linkedin.com" class="button_linkedin">Facebook</a>
      <a href="www.linkedin.com" class="button_linkedin">Twitter</a>
      <a href="www.linkedin.com" class="button_linkedin">Email</a>
    </div>
  </div>
</section>

<!-- stuff for work profile -->
<h2>Work Experiance</h2>
<h4>FEDEX FREIGHT – HARRISON, AR. </br>
ADVISOR, 2011 TO PRESENT</br>
</br>
FEDEX NATIONAL – KANSAS CITY, KS. </br>
REGIONAL PLANNER, 2009 - 2011 </br>
</br>
UPS - SAGINAW, MI </BR>
SUPERVISOR, 2004-2009</BR>
</H4>

<!-- stuff for interests -->
<h2>About Me</h2>
<ul>
  <li>Love Tech Hardware and Building my own PC's</li>
  <li>Outdoor Enthusiast, Hiking / Biking / Camping</li>
  <li>Video Games, currently hooked on Overwatch</li>
  <li>Competitive Shooting</li>
  <li>Exploring, we love going new places and trying new things</li>
  <li>Favorite TV Shows - GoT, TWD, Daredevil, Silicon Valley</li>
  <li>Favorite Books - Ghengis (Igguldon Series), World War Z, Elantris, Ready Player One</li>
  <li>Movies I could watch over and over - Starship Troopers, Super Troopers, Fight Club, The Winter Soldier, The Mummy</li>
  <li>Picking up heavy things and putting them back down</li>
</ul>

<!--skills -->
<h2>Skills and Profeciency</h2>
  <ul>
    <li>Ruby on Rails 3/5</li>
    <li>PHP 2/5</li>
    <li>CSS 3/5</li>
    <li>HTML 4/5</li>
    <li>Adobe Photoshop 3/5</li>
    <li>SQL 3/5</li>
    <li>Computer Hardware 4/5</li>
    <li>Project Management 4/5</li>
    <li>Leadership 4/5</li>
    <li>Logistics Management 5/5</li>
</ul>

<!--education -->
<h2>Education</h2>
<h4>Kendall College of Art and Design - Grand Rapids MI</br>
    Visual Communication/Print Media, 90 Credit Hours</br>
</br>
    Delta College - Bay City MI</br>
    Graphic Design</br>
</br>
    Bay City Western High School - Auburn, MI</br>
    Diploma, 2001</h4>

<!-- awards and certifications -->
<h2>Awards</h2>
  <p>Bravo Zulu</p>
  <p>Top Performer</p>
  <p>Purple Promise Quality Award</p>
  <p>Team Leader</p>
<h2>Certifications and Training</h2>
  <p>The Complete Ruby on Rails Developer Course - Udemy</p>
  <p>Practical PHP - Udemy</p>
  <p>Git started with GitHub - Udemy</p>
  <p>The Complete Bootstrap MasterClass Course - Udemy</p>



